@import "tailwindcss";

@font-face {
  font-family: "Inter display";
  src: url("/fonts/interDisplay-Bold.ttf") format("truetype");
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Inter display";
  src: url("/fonts/InterDisplay-Medium.ttf") format("truetype");
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "Inter display";
  src: url("/fonts/InterDisplay-Regular.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Inter display";
  src: url("/fonts/InterDisplay-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-display: swap;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family:
    Inter Display,
    sans-serif;
}

.form-scrollbar::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.form-scrollbar::-webkit-scrollbar-track {
  background: #1a1f24;
}

/* Handle */
.form-scrollbar::-webkit-scrollbar-thumb {
  background: #3b3f45;
}

/* Handle on hover */
.form-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #5a5f66;
}

@layer base {
  input:-webkit-autofill,
  input:-webkit-autofill:focus {
    transition:
      background-color 0s 600000s,
      color 0s 600000s !important;
  }
}
